  <style type="text/css">
    nav {
        background-color: <%= @design.accent_color %>;
    }
</style>
 <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><%= @business.name %></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">About</a></li>
      <li><a href="badges.html">Contact Us</a></li>
    </ul>
  </div>
</nav>