<!-- 
  -business id (controller)
  -template
  -main_color
  -secondary_color
  -accent_color

-->
<br>
<br>

<div class="container themeSelection">
  <select class="browser-default">
    <option value="" disabled selected>Pick your theme</option>
    <option value="dark">Mysterious and Dark</option>
    <option value="light">Fun light theme</option>
  </select>
</div>

<br>
<br>

<div class="container colorPicker">
  <div id="firstColor" class="titleContainer">
    <h4 class="center">MAIN COLOR</h4>
  </div>
    <div class="container mainColor colorPickerContainer" data-color="main_color">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
<!--       <div class="item"></div> -->
    </div>

  <div id="secondColor" class="titleContainer">
    <h4 class="center">SECONDARY COLOR</h4>
  </div>
    <div class="container secondaryColor colorPickerContainer" data-color="secondary_color">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <!-- <div class="item"></div> -->
    </div>

  <div id="accentColor" class="titleContainer">
    <h4 class="center">ACCENT COLOR</h4>
  </div>
    <div class="container accentColor colorPickerContainer" data-color="accent_color">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <!-- <div class="item"></div> -->
    </div>
  </div>
      <button id="save">Save</button>
</div>