<!-- 
  -business id
  -template
  -main_color
  -secondary_color
  -accent_color

-->
<div class="container colorPicker">
  <div id="firstColor">
    <h4 class=" center">FIRST COLOR </h4>
  </div>
    <div class="container mainColor colorPickerContainer" data-color="main">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
<!--       <div class="item"></div> -->
    </div>

  <div id="secondColor">
    <h4 class="center"> SECOND COLOR </h4>
  </div>
    <div class="container secondaryColor colorPickerContainer" data-color="secondary">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <!-- <div class="item"></div> -->
    </div>

  <div id="accentColor">
    <h4 class="center"> THIRD COLOR </h4>
  </div>
    <div class="container accentColor colorPickerContainer" data-color="accent">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <!-- <div class="item"></div> -->
    </div>

    <button id="save">Save</button>
  </div>
</div>