<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Wants to claim a Business</h1>
    <p>
      The business name is  and has as it's ID.<br>
    </p>
    <p>
      Please verify their account and update their permissions.
    </p>
  </body>
</html>