<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of Lighthouse Labs' students working on this project.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Sonny, Joey and Henry</a>
    </div>
  </div>
</footer>